@media (min-width: 1024px) {
    .card-container {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(450px, 3fr));
    }

    .temple-card {
        width: 100%;
    }

    .temple-card img {
        width: 100%;
        height: 400px;
    }
}